{% extends 'frontend/base.html.twig' %}

{% block title %}Blog - Articles de {{ category.name }}{% endblock %}

{% block main %}
    <div class="container">
        <h1>Articles de <strong class="text-primary">{{ category.name }}</strong> </h1>

        {% include 'frontend/article/_search-filtre.html.twig' %}

        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if article.featuredImage %}
                            <img src="{{ asset('uploads/articles/' ~ article.featuredImage) }}" class="card-img-top" alt="{{ article.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.excerpt|striptags|length > 150 ? article.excerpt[:150] ~ '...' : article.excerpt }}</p>
                            <a href="{{ path('app_blog_show', {'slug': article.slug}) }}" class="btn btn-primary">Lire l'article</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p>Aucun article disponible pour le moment.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
