<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ asset('assets/images/logo/logo.png') }}" alt="Logo" width="50" height="30" class="d-inline-block align-top">
                Kong Islamique
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'app_home' %}active{% endif %}" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') starts with 'app_blog_index' %}active{% endif %}" href="{{ path('app_blog_index') }}">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') starts with 'app_podcast' %}active{% endif %}" href="{{ path('app_podcast_index') }}">Podcasts</a>                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') starts with 'app_archive' %}active{% endif %}" href="{{ path('app_archive') }}">Archives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') starts with 'app_teacher' %}active{% endif %}" href="{{ path('app_teacher') }}">Prêches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') starts with 'app_forum' %}active{% endif %}" href="{{ path('app_forum') }}">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'app_about' %}active{% endif %}" href="{{ path('app_about') }}">À propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'app_contact' %}active{% endif %}" href="{{ path('app_contact') }}">Contact</a>
                    </li>
                </ul>
                <div class="d-flex">
                    {% if app.user %}
                        <div class="dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.firstName|default(app.user.email) }}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="{{ path('app_profile') }}">Mon profil</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_favorites') }}">Mes favoris</a></li>
                                {% if is_granted('ROLE_DAVE_SUPER_ADMIN_2108') %}
                                    <li><a class="dropdown-item" href="{{ path('admin') }}">SuperAdmin</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_DAVE_SUPER_ADMIN_2108') or is_granted('ROLE_SUPERVISOR') or is_granted('ROLE_BLOG_MANAGER') or is_granted('ROLE_TEACHER') or is_granted('ROLE_ARCHIVE_MANAGER') %}
                                    <li><a class="dropdown-item" href="{{ path('admin_dashboard') }}">Administration</a></li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="dropdown me-3">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownAccountButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Compte
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownAccountButton">
                                <li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="ms-3 ml-auto">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownLanguageButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.request.locale|upper }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownLanguageButton">
                            <li><a class="dropdown-item" href="{{ path(app.request.get('_route', 'app_home'), app.request.get('_route_params', [])|merge({_locale: 'fr'})) }}">Français</a></li>
                            <li><a class="dropdown-item" href="{{ path(app.request.get('_route', 'app_home'), app.request.get('_route_params', [])|merge({_locale: 'ar'})) }}">العربية</a></li>
                            <li><a class="dropdown-item" href="{{ path(app.request.get('_route', 'app_home'), app.request.get('_route_params', [])|merge({_locale: 'en'})) }}">English</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>